<div class="gradient-container p-5">
  
  <div class="container p-5">
    <div class="card m-5 px-4 bg-light">
      <div class="position-absolute first">
      <h1>Hello</h1>
      </div>
        <div class="card-body ">
            <h5 class="card-title">Choose a Flight</h5>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flightType" id="oneWay" value="oneWay">
                        <label class="form-check-label" for="oneWay">
                            One Way
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flightType" id="roundup" value="roundup">
                        <label class="form-check-label" for="roundup">
                            Roundup
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flightType" id="multiCity" value="multiCity">
                        <label class="form-check-label" for="multiCity">
                            Multi City
                        </label>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="search d-flex  py-2 container" >
        
            <div class="card">
                <div class="card-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="card-text">FROM</p>
                    <h1 class="card-title">Delhi</h1>
                  <p class="card-text">DEL,Delhi Airport India</p>
                </div>
                <div class="dropdown-menu">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        <input type="text" class=" m-1 form-control" placeholder="From">
                      </div>
                      <div>
                        <p>Recent Searches</p>
                        <ol class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                        </ol>
                      </div>
                      <div>
                        <p>POPULAR CITIES</p>
                        <ol class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                          </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="card-text">To</p>
                    <h1 class="card-title">Bangalore</h1>
                  <p class="card-text">BLR,Bangalore Airport India</p>
                </div>
                <div class="dropdown-menu">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        <input type="text" class=" m-1 form-control" placeholder="TO">
                      </div>
                      <div>
                        <p>Recent Searches</p>
                        <ol class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                        </ol>
                      </div>
                      <div>
                        <p>POPULAR CITIES</p>
                        <ol class="list-group ">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                              </div>
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                          </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="card-text">DEPARTURE DATE & TIME</p>
                    <span class="card-title d-flex justify-content-evenly"> <h1> 30</h1><span class="fs-3">MAY'23</span> </span>
                  <p class="card-text ">03:02 PM</p>
                </div>
                <div class="dropdown-menu">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        <input type="date" class=" m-1 form-control" placeholder="TO">
                      </div>
                     
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="card-text">RETURN DATE & TIME</p>
                    <span class="card-title d-flex justify-content-evenly"> <h1> 30</h1><span class="fs-3">MAY'23</span> </span>
                  <p class="card-text ">03:02 PM</p>
                </div>
                <div class="dropdown-menu">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        <input type="date" class=" m-1 form-control" placeholder="TO">
                      </div>
                     
                     
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="card">
                <div class="card-body" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="card-text">PASSENGERS</p>
                    <div class="card-title d-flex justify-content-evenly"> <h1> 1</h1><span class="fs-4 align-baseline">Passengers</span> </div>
                 
                </div>
                <div class="dropdown-menu p-3">
                    
                   
                        <p class="drop p-1" *ngFor="let item of num">{{item}}</p>
                       
                   
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center m-2">

              <button type="button" class="btn btn-primary w-25">Search</button>
            </div>
    </div>
</div>


</div>